@media (max-width:768px){
    .nav {
        display:block;
        text-align: centerm ;
    }
}

main {
    padding: 20px;
}

main a {
    padding-bottom: 10px;
}

#coinbanner {
    width: 100%;
    height:50%;
    
}